<% if signed_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
    // window.has_profile = !!window.currentUser.profile
  </script>
<% end %>

<main id="root"></main>