.inbox-page {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.conversation-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 145px;
    background-color: white;
    justify-content: flex-start;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

.conversation-item:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.conversation-item > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

.conversation-item img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin: 20px;
}

.conversation-item h1 {
    font-weight: bold;
    font-size: 26px;
}

.conversation-item h2 {
    margin-top: 5px;
}

.conversation-item:last-child, .message-item:last-child {
    border-bottom: 1px solid #e6e6e6;
}

.conversations-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 10px;
}

.inbox-title {
    height: 88px;
    background-color: #F1EFEA;
    margin-top: 100px;
    border-radius: 5px 5px 0px 0px;
}

.inbox-title h1 {
    font-size: 40px;
    margin: 20px 25px;
}

#conversation-item-right-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
    width: 55%;
}

.my-message {
    border: 1px solid #979797;
    border-radius: 8px;
    padding: 12px 15px;
    margin-top: 25px;
    width: 100%;
}

.not-my-message {
    margin-top: 25px;
    background: #e6e6e6;
    border-radius: 8px;
    padding: 12px 15px;
    position: relative;
    width: 100%;
}

.not-my-message span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.not-my-message span::after {
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 25px solid #e6e6e6;
    content: '';
    left: -15px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.messages-index-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.messages-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    height: fit-content;
}

.messages-index form {
    width: 100%;
    padding: 10px;
}

.messages-index textarea {
    width: 97%;
    height: 120px;
    padding: 8px;
}

.messages-index button {
    background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

.messages-index > div {
    background: #f1f2f5;
}

.message-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: flex-start;
    padding: 15px;
    border-top: 1px solid #e6e6e6;
    max-height: 92px;
}

.message-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.message-item-body-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.message-item-body-container span:last-child {
    color: #929dad;
    margin-bottom: 10px;
}

.message-form-container {
    border-radius: 5px;
}

.message-button-profile-page {
    margin-left: 1px;
}

.unread-dote {
    background-color: #287FB8;
    color: #287FB8;
    border-radius: 3.75em;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1;
    margin-left: 10px;
    padding: 10px;
    vertical-align: 1px;
}

#left-conversation-item {
    width: 10%;
    justify-content: center;
}