#dashboard-search {
    display: flex;
    flex-direction: column;
    padding: 0;

    a {
        width: 30%;
        margin: 5px;
        position: relative;
        p {
            font-size: 18px;
            position: absolute;
            top: 10px;
            left: 5%;
            color: white
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h1 {
        padding: 20px;
    }
}

.dashboard-search-image-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.dashbord-search-header {
    border-bottom: 1px solid #e6e6e6 ;
}

#dashboard-bookings-container {
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: column;

        li {
            border-bottom: 1px solid #e6e6e6;

            div {
                padding: 15px;
            }

            input[type=submit] {
                color: white;
            }
        }

        li:hover {
            background-color: #e6e6e6;
        }
    }

}

.dashboard-bookings-header {
    border-bottom: 1px solid #e6e6e6;
}

.no-bookings {
    padding: 25px;
}