.footer {
    border-top: 2px solid #E0E0E0;
    display: flex;
    justify-content: center;
    background: #F1EFEA;
}

.icons-container-footer {
    display: flex;
    height: 69px;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.icons-container-footer img {
    height: 40px;
    width: 40px;
}

.icons-container-footer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}

.icons-container-footer > a:hover img {
    opacity: 0.5; 
}