.new-profile-form-container {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: visible;
    z-index: 900;
    border-radius: 5px;
    border: none;
    align-self: center;
}

.login-form {
    text-align: left;
}

.login-form label {
    display: block;
    margin: 15px 0;
}

.login-form label:nth-child(1) {
    display: block;
    margin: 15px 0 0 0;
}

.login-form > div {
    width: 100%;
    margin-left: 80px;
}

.dropdown-locations {
    font-size: 16px;
    width: 426px;
}