.main-profiles-feed {
    width: 60%;
    background-color: transparent;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.main-profiles-feed ul {
    width: 100%;
    max-width: 710px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
}



.main-profiles-feed li {
    height: 270px;
    padding: 5px;
    margin-bottom: 10px;
}

.profile-index-item-content {
    height: 270px;
    background-color: white;
    width: 340px;
    border-radius: 2px;
    border-bottom: 2px solid rgba(0,0,0,0.35);
}

.profile-index-item-content img {
    width: 150px;
    height: 150px;
    float: left;
    margin: 20px;
    margin-bottom: 15px;
}

.profile-index-item-content h1 {
    padding-top: 20px;
    font-size: 28px;
}

.profile-index-item-content p {
    font-size: 13px;
    padding: 5px;
    margin-top: 20px;
    padding-left: 20px;
    line-height: normal;
    padding-right: 20px;
}

///////SEARCH BOX//////////////////

.search-box-container {
    width: 100%;
    min-width: 660px;
    height: 200px;
    background-color: white;
    margin: 10px 5px;
    border-radius: 4px;
    display: flex;
}