.sidebar {
    width: 33.3%;
    background-color: white;
    margin: 10px;
}

.main-feed {
    width: 60%;
    background-color: white;
    margin: 10px;

}

.profile-page {
    width: 70%;
    display: flex;
}