.secondery-navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 4px;

}

.secondery-navbar > div {
    padding: 20px;
}

.secondery-navbar-clickers {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #287FB8;
}

.secondery-navbar-clickers li {
    padding: 10px;
}

.secondery-navbar-links {
    vertical-align: middle;
}

.secondery-navbar-clickers li:hover  {
    color: #ED6504
}
.secondery-navbar-clickers li:hover span {
    background-color: #ED6504;
}

.secondery-navbar-clickers li span {
    background-color: #287FB8;
    border-radius: 3.75em;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1;
    margin-left: 10px;
    padding: 4px 7px;
    vertical-align: 1px;
}

.secondery-navbar button {
    background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
}

.secondery-navbar button:hover {
    filter: brightness(90%);
}

.profile-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 4px;

}

.profile-overview header {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
}

.profile-overview img {
    width: 15px;
    height: 15px;
    color: gray;
    // padding: 5px;
    margin: 15px;
    // display: inline-block;
}

.profile-overview li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.overview-list-container {
    display: flex;
    justify-content: space-around;
}

.overview-list-container ul {
    // margin-right: 10px;
}

.about-me-profile {
    padding: 15px;
}

.interests {
    padding: 15px;
    font-weight: bold;
}

.interests div {
    padding: 15px;
    font-weight: normal;
}

.list-home-preview li {
    padding: 10px;
    font-weight: bold;
    margin-right: 3px;
}

.list-home-preview li > span {
    font-weight: normal;
    padding-left: 10px;
}


.sleeping-arrangments {
    padding: 20px 20px 20px 10px;
    margin-left: 10px;
}

.sleeping-arrangments header {
    border: none;
}

.sleeping-arrangments div {
    padding: 10px;
}

.sleeping-arrangments-h1 {
    padding: 20px 20px 20px 0;
    width: 100%;
    /* padding: 20px; */
    // border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
}

.photo-upload-buttons {
    display: flex;
    justify-content: flex-end;
}

.photo-upload-buttons button {
    background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 240px;
    min-width: 6em;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}