.main-profiles-feed {
    width: 60%;
    background-color: transparent;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.main-profiles-feed ul {
    width: 100%;
    max-width: 710px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: baseline;
}



.main-profiles-feed li {
    height: 270px;
    padding: 5px;
    margin-bottom: 10px;
}

.profile-index-item-content {
    height: 270px;
    background-color: white;
    width: 340px;
    border-radius: 2px;
    border-bottom: 2px solid rgba(0,0,0,0.35);
}

.profile-index-item-content img {
    width: 150px;
    height: 150px;
    float: left;
    margin: 20px;
    margin-bottom: 15px;
    object-fit: cover;
}

.profile-index-item-content h1 {
    padding-top: 20px;
    font-size: 28px;
}

.profile-index-item-content p {
    font-size: 13px;
    padding: 5px;
    margin-top: 20px;
    padding-left: 20px;
    line-height: normal;
    padding-right: 20px;
}

///////SEARCH BOX//////////////////

.search-box-container {
    width: 100%;
    min-width: 660px;
    height: 200px;
    background-color: white;
    margin: 10px 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.search-box-headline {
    padding: 10px;
}

.search-box-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.search-box-form-main {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.search-box-form-main > div {
    padding: 15px;
}

.search-box-form-main > div > label {
    margin-bottom: 15px;
}

.search-box-form-container {
    height: 70%;
}

.search-box-footer {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 0px 0px 3px 3px;
}

.search-box-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search-box-button {
    background-color: #287FB8;
    border: 1px solid #287FB8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 70px;
    min-width: 5em;
    padding: 4px 6px;
    margin-right: 10px;
    margin-bottom: 10px;
} 

.search-box-form-select {
    display: flex;
    flex-direction: column;
}

.search-box-checkbox > div {
    padding-bottom: 15px;
}