.sidebar {
    min-width: 280px;
    max-width: 300px;
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    height: fit-content;
}

.main-feed {
    width: 830px;
    background-color: transparent;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.profile-page {
    width: 70%;
    display: flex;
}

.sidebar img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 10px;
}

.profile-view-name {
    font-size: 30px;
    margin: 15px 0;
}

.profile-view-location {
    margin: 15px 0;
    margin-left: 12px;
}

.status-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-view h1 {
    margin: 15px 0;
    font-size: 22px;
}

.status-view select {
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 15px;

}

.green-option {
    color: green;
}

.red-option {
    color: red;
}

#hosting-status-banner {
    display: none;
    background-color: rgba(65,184,102,0.25);
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#hosting-status-banner h1 {
    width: 100%;
    font-size: 19px;

}

.about-list-container {
    padding-left: 10px;
}

.image-preview-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#delete-logo {
    position: absolute;
    top: 150px;
    left: 150px;
}

#delete-logo img {
    width: 25px;
    height: 25px;
}

.gold-star {
    position: absolute;
    top: 0;
    left: 150px;
}

.gold-star img {
    width: 25px;
    height: 25px;
}