body {
    width: 100%;
}

.main-signup {
    background-position: center;
    background-size: contain;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.header-main-signup {
    text-align: center;
    margin: 30px auto;
    color: white;
    padding: 20px 0;
}

.header-main-signup h1 {
    font-size: 30px;
    margin: 0 0 15px 0;
    font-weight: bold;
}

.header-main-signup h2 {
    font-size: 20px;
    margin: 0 0 0.75em 0;
}

.signup-form-container {
    width: 360px;
    padding: 20px 60px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    text-align: center;
    margin-right: 20px;
    justify-content: center;
}

.signup-content {
    display: flex;
    justify-content: center;
}

.demo-user-login {
    width: 300px;
    padding: 20px 60px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    text-align: center;
    margin-left: 20px;
    align-self: center;
    justify-content: space-evenly;
}

.signup-content-separator {
    display: flex;
    margin: 0 55px;
}

.signup-content-separator p {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.signup-content-separator p:before, .signup-content-separator p:after {
    content: '';
    width: 3px;
    height: 200px;
    background-color: white; 
}

.signup-form {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 0 0;
    color: black;
}

.signup-form h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.signup-form fieldset {
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    text-align: left;
    padding: 0;
    margin: 0 0 10px 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-container {
    width: calc(50% - 10px);
    display: inline-block;
}

.input-container:nth-child(n+2) {
    width: calc(50% - 10px);
    display: inline-block;
    margin-left: 15px;
}

.input-container label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

.signup-form-box input {
    border-radius: 4px;
    box-shadow: none;
    padding: 12px 8px;
    margin: 18px 0;
    font-size: 16px;
    width: 100%;
}

.input-container input {
    border-radius: 4px;
    box-shadow: none;
    padding: 12px 8px;
    margin: 18px 0;
    font-size: 16px;
    width: 100%;
}

.signup-submit {
    max-width: 200px;
    margin: 0 auto;
    background-color: #ED6504;
    border-color: #ED6504;
    font-family: Lato;
    font-size: 15px;
    width: calc(100% - 40px);
    color: white;
}

.signup-submit:hover {
    background-color: #287FB8;
    border-color: #287FB8;
}

.signup-form-box label {
    display: block;
}

.session-erros-list {
    background-color: rgba(198,61,67,0.25);
    color: #3e1214;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5px;
}

.session-erros-list li {
    padding: 5px 0;
}

#login-blackout {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    opacity: 0.2;
}

#login-form-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: visible;
    z-index: 900;
    border-radius: 5px;
    border: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.login-errors {
    display: inline-block;
}

#login-form-container header {
    display: flex;
    margin: 30px 30px;
    font-size: 24px;

}

.login-form input {
    border-radius: 4px;
    box-shadow: none;
    padding: 12px 8px;
    margin: 18px 0;
    font-size: 16px;
    width: 80%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.login-submit {
    max-width: 200px;
    margin: 0 auto;
    background-color: #ED6504;
    border-color: #ED6504;
    font-family: Lato;
    font-size: 15px;
    width: calc(100% - 40px);
    color: white;
    text-decoration-color: white;
    border-radius: 4px;
    padding: 10px;
}

.login-submit:hover {
    background-color: #287FB8;
    border-color: #287FB8;
}

.login-form-button-link {
    border: 1px solid #287FB8;
    color: #287FB8;
    line-height: initial;
    min-width: unset;
    width: auto;
    border-radius: 4px;
    width: calc(100% - 40px);
    border-radius: 4px;
    align-self: center;
    padding: 8px;
    font-size: 16px;
}

.login-form-button-link:hover, .login-form-button-link-top:hover {
    background: rgba(0,0,0,0.05);
}

.login-form-button-link-top {
    border: 1px solid #287FB8;
    color: #287FB8;
    line-height: initial;
    min-width: unset;
    width: auto;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    align-self: flex-end;
}

#login-form-container p {
    text-align: center;
}

.input-names {
    display: flex;
    justify-content: space-between;
}

.input-names > div:nth-child(1) {
    margin-right: 12px;
}

.signup-submit-container {
    display: flex;
    justify-content: center;
    color: white;

}

.login-form select {
    color: black;
}

.join-form-button-link {
    border: 1px solid #287FB8;
    color: #287FB8;
    line-height: initial;
    min-width: unset;
    width: auto;
    border-radius: 4px;
    width: 30%;
    border-radius: 4px;
    align-self: center;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
}


.login-bottom {
    display: flex;
    flex-direction: column;
}